<h2>Listado de Personas</h2>
<ul class="personas">
  <li *ngFor="let persona of personas" (click)="onSelect(persona)" [class.selected]="persona === selectedPersona">
    <!-- each persona goes here -->
    <span class="badge">{{persona.id}}</span> {{persona.apellido}} {{persona.nombre}}
  </li>
</ul>

<div *ngIf="selectedPersona">
  <h2>Persona: {{selectedPersona.apellido}} {{selectedPersona.nombre}}</h2>
  <div><label>DNI:</label> {{selectedPersona.dni}}</div>
  <div><label>Apellido:</label> {{selectedPersona.apellido}}</div>
  <div><label>Nombre:</label> {{selectedPersona.nombre}}</div>
</div>

<div>
  <label>nombre: </label>
  <input [(ngModel)]="selectedPersona.nombre" placeholder="persona">
</div>

