<div *ngIf="persona" class="page-header">
    <a class="btn btn-default" routerLink="/personas"><fa name="arrow-left"></fa> Volver</a>
    <a class="btn btn-primary" routerLink="/personas/edit/{{persona.id}}"><fa name="edit"></fa> Editar</a>
    <h4>Detalle Persona</h4>
</div>
  
<dl *ngIf="persona" class="dl-horizontal">
  
    <dt>ID:</dt>
    <dd>{{ persona.id }}</dd>

    <dt>Tipo de documento:</dt>
    <dd>{{ persona.tipo_documento.descripcion }}</dd>

    <dt>Número de documento:</dt>
    <dd>{{ persona.numero_documento }}</dd>
  
    <dt>Apellido:</dt>
    <dd>{{ persona.apellido }}</dd>
  
    <dt>Nombre:</dt>
    <dd>{{ persona.nombre }}</dd>

    <dt>Provincia:</dt>
    <dd>{{ persona.localidad.provincia.nombre }}</dd>

    <dt>Localidad:</dt>
    <dd>{{ persona.localidad.nombre }}</dd>
  
</dl>